<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kevin.foodshare">

    <!-- if you want to load images from the internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- if you want to load images from a file OR from the internet -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        tools:replace="android:icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.LoginActivity"  android:label="@string/login_name"/>
        <activity android:name=".ui.activity.RegisterActivity" android:label="@string/register_name"/>
        <activity android:name=".ui.activity.FoodPublishActivity" android:label="@string/food_publish_name"/>
        <activity android:name=".ui.activity.FoodDetails" android:label="@string/food_details_name"/>
        <activity android:name=".ui.activity.PurchaseActivity" android:label="@string/purchase_name"/>
        <activity android:name=".ui.activity.OrderDetailsActivity" android:label="@string/order_details_name"/>
        <activity android:name=".ui.activity.OrderSubmitActivity" android:label="@string/order_details_name"/>
        <activity android:name=".ui.activity.PaymentActivity" android:label="@string/payment_name"/>

        <!--Image Selector Entry-->
        <activity
            android:configChanges="orientation|screenSize"
            android:name="me.nereo.multi_image_selector.MultiImageSelectorActivity" />
    </application>

</manifest>